.container-navbar{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo span{
    color: var(--content);
    padding: 5px 10px;
}
.logo span:first-child{
    background-color: var(--primary);
    border-radius: 8px 0 0 8px;
}
.logo span:last-child{
    background-color: var(--secondary);
    border-radius: 0 8px 8px 0;
}

.container-navs{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-nav-actions{
    transform: translateX(-50%);
}

.btn-workspace{
    background-color: var(--base);
    color: var(--content);
    border: 1px solid var(--content);
    border-radius: 8px;
    font-weight: 600;
}

.content-list{
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 30%));
    grid-auto-rows: 100px;
    gap: 3%;
}

.workspace-chip{
    background-color: darkblue;
    color: white;
    display: grid;
    cursor: pointer;
    place-items: center;

}